/* GENERAL STYLES*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Space mono;
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
    background: black;
    color: white;
}

/* HEADER STYLES */

.header{
    padding: 10px 10%;
}

.logoHeader{
    width: 130px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: white;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

/* SECTION HOME */

#sectionHome{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#sectionHome img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#sectionHome img#planetStars{
    mix-blend-mode: screen;
    position: absolute;
}


/* SECTION USER */

.user{
    width: fit-content;
    margin: 50px auto;
    display: flex;
    flex-basis: 80%;
}

.userContent{
    width: fit-content;
    margin: 50px auto;
    display: flex;
    align-items: center;
}

.user img{
    width: 500px;
    cursor: pointer;
    border-style: solid;
    border-color: rgb(33, 33, 33);
    border-width: 1px;
    border-radius: 10px;
    position: relative;
    z-index: 100;
    box-shadow: 8px 8px 8px rgb(33, 33, 33);
    transition: transform 1s, box-shadow 1s;
}

.userInfo{
    padding: 10px 50px;
    transform: translateX(0px);
    opacity: 1;
    transition: transform 1s, opacity 1s;
}

.userInfo h1{
    font-size: 60px;
    font-weight: 600;
}

.userInfo p{
    line-height: 26px;
}

.btnUser a{
    width: 180px;
    text-decoration: none;
    display: inline-block;
    padding: 12px 12px;
    color: white;
    border-style: solid;
    border-width: .2px;
    border-color:white;
    font-weight: 600;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
    margin-top: 30px;
}

.btnUser a span{
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    z-index: -1;
    transition: 0.5s;
}

.btnUser a:hover span{
    width: 100%;
}

.btnUser a:hover{
    color: black;
}

.userInfo span{
    font-weight: 600;
    color: rgb(212, 191, 70);
    cursor: pointer;
}

.iconUser{
    margin-top: 30px;
    font-size: 30px;
}

.iconUser i{
    margin-inline: 8px;
    cursor: pointer;
    transition: .4s ease-in-out;
}

.iconUser i:hover{
    color: rgb(212, 191, 70);
}

.iconClose{
    width: 80px;
    cursor: pointer;
    position: relative;
    transition: transform 1s;
}

.iconClose::before, .iconClose::after{
    content: '';
    height: 5%;
    width: 10px;
    background-color: rgb(212, 191, 70);
    position: absolute;
    top: 20%;
    left: 30%;
    margin-left: -1px;
}

.iconClose::before{
    transform: rotate(50deg);
}

.iconClose::after{
    transform: rotate(-45deg);
}

.hideInfo .userInfo{
    transform: translateX(45px);
    opacity: 0;
}

.hideInfo .iconClose{
    transform: translateX(-410px);
    opacity: 0;
}

.hideInfo img{
    transform: translateX(410px);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
}

/* SECTION ABOUT */

#sectionAbout{
    padding: 100px 0;
    color: whitesmoke;
}

.containerAbout{
    padding: 10px 10%;
}

.columnAbout{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.colAbout1{
    flex-basis: 60%;
}

.colAbout1 p{
    color: rgb(218, 218, 218);
}

.tittleAbout{
    font-size: 60px;
    color: whitesmoke;
    margin-bottom: 50px;
    text-align: center;
}

.colAbout2{
    flex-basis: 20%;
}

.colAbout2 img{
    width: 100%;
}

.logoAbout{
    width: 100%;
    border-radius: 35px;
}

.contTittle{
    display: flex;
    margin: 20px 0 40px;
}

.contTittle p{
    color: white;
}

.contTittle p::after{
    content: '';
    width: 0;
    height: 2px;
    background: rgb(212, 191, 70);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.contTittle p:hover::after{
    width: 100%;
}

.contTittle p.active-link::after{
    width: 100%;
}

.contentLinks{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}

.contContents ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 13px;
}

.contContents ul li span{
    color: rgb(212, 191, 70);
    font-size: 14px;
    font-weight: 600;
}

.contContents{
    display: none;
}

.contContents.active-cont{
    display: block;
}

/* SERVICES SECTION */

#sectionServices{
    padding: 75px 0;
    width: 100%;
}

.containerServices{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.tittleServices{
    font-size: 45px;
    margin-bottom: 65px;
    text-align: center;
}

.contServices{
    flex-basis: 32%;
    margin-bottom: 20px;
    margin-top: 35px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(16, 16, 16);
    padding: 25px;
    transition: background 0.5s, transform 0.5s;
}

.contServices h2{
    margin-bottom: 20px;
}

.contServices:hover{
    background-color:rgb(29, 29, 29);
    transform: translateY(-10px);
}

.iconServices{
    font-size: 25px;
    color: rgb(212, 191, 70);
}

.link-arrow{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.link-arrow i{
    transition: .4s ease-in-out;
    margin-left: 5px;
}

.link-arrow:hover{
    color: rgb(212, 191, 70);
}

.link-arrow:hover i{
    transform: translate(5px, -5px );
}