// GENERAL VARIABLES

$BackColor: black;
$secondaryColor: rgb(212, 191, 70);
$hoverColor: rgb(216, 184, 0);
$fontColor: white;
$secondaryFontColor: whitesmoke;
$boxBackground: rgb(16, 16, 16);
$hoverBox: rgb(29, 29, 29);
$modalColor: rgba(17, 17, 17, 0.741);
